/* Write CSS here */
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-sm-bg.png');
  background-size: cover;
  height: 100vh;
}

@media screen and (min-width: 992px) {
  .bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png');
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
}

@media screen and (min-width: 992px) {
  .app-container {
    align-items: flex-start;
    margin-left: 160px;
  }
}

.title {
  color: #333333;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Roboto';
}
@media screen and (min-width: 992px) {
  .title {
    font-size: 48px;
  }
}

.stopwatch-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 310px;
  border-radius: 12px;
  padding: 32px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}

/* @media screen and (max-width: 768px) {
  .stopwatch-card-container {
    width: 200px;
  }
} */

.timer {
  display: flex;
  align-items: center;
}

.timer-img {
  margin-right: 8px;
  height: 15px;
}

.card-description {
  color: #333333;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto';
}

.time-title {
  font-size: 36px;
  font-family: 'Roboto';
  font-weight: 600;
  color: #333333;
  margin: 0;
}
.timer-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  border: none;
  outline: none;
}

@media screen and (min-width: 768px) {
  .button {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.start-btn {
  background-color: #1db05f;
  margin-right: 24px;
}

.stop-btn {
  background-color: #ef0d36;
  margin-right: 24px;
}

.reset-btn {
  background-color: #eaa800;
  margin-right: 24px;
}
